@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary1: hwb(354 13% 7%);
  --color-primary2: #1e1e1e;
  --color-primary3: #ffffff;
  --color-primary4: #f2f2f2;
  --color-secondary1: #f4c042;
  --color-secondary2: #a188ef;
  --color-secondary3: #4ca8e7;
  --color-secondary4: #00eb84;

  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary3);
  background-color: var(--color-primary2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
body > div {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: var(--color-secondary2);
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: var(--color-primary1);
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

.jumbo,
main > footer {
  background-color: var(--color-primary4);
  color: var(--color-primary2);
}

.button:hover {
  text-decoration: none;
}

button:hover::after,
.button:hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
}

.connexion {
  background-color: var(--color-primary1);
  color: var(--color-primary3);
  position: relative;
}

.description svg {
  display: inline-block;
}

.talk header ul.list-format {
  list-style: none;
}

.talk header aside {
  color: var(--color-primary3);
  background-color: var(--color-secondary1);
}

.talk header .event {
  background-color: var(--color-secondary2);
}

.talk header .date {
  background-color: var(--color-secondary3);
}

.talk section h3 {
  font-weight: 600;
  color: var(--color-primary1);
}

.talk section button {
  background-color: var(--color-secondary4);
}

#loading {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border: 5px solid rgba(238, 34, 56, 0.5);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-primary3);
    color: var(--color-primary2);
  }
}
