@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary1: hwb(354 13% 7%);
  --color-primary2: #1e1e1e;
  --color-primary3: #ffffff;
  --color-primary4: #f2f2f2;
  --color-secondary1: #f4c042;
  --color-secondary2: #a188ef;
  --color-secondary3: #4ca8e7;
  --color-secondary4: #00eb84;

  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary3);
  background-color: var(--color-primary2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
body > div {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: var(--color-secondary2);
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: var(--color-primary1);
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

.jumbo,
main > footer {
  background-color: var(--color-primary4);
  color: var(--color-primary2);
}

.button {
  color: var(--color-primary2);
}
.button:hover {
  text-decoration: none;
}

button:hover::after,
.button:hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
}

.connexion {
  background-color: var(--color-primary1);
  color: var(--color-primary3);
  position: relative;
}

.description {
  @apply bg-green-200 dark:bg-green-900;
}
.description svg {
  display: inline-block;
}

.talk header ul.list-format {
  list-style: none;
}

.talk header aside {
  color: var(--color-primary3);
  background-color: var(--color-secondary1);
}

.talk .event {
  @apply py-1;
  color: var(--color-secondary3);
  border: 1px var(--color-secondary3);
}

.talk section h3 {
  font-weight: 600;
  color: var(--color-primary1);
}

.button-primary {
  @apply rounded-md py-2 px-8 font-semibold items-center gap-2;
  background-color: var(--color-secondary4);
  color: #000000;
  height: 2rem;
  cursor: pointer;
  display: inline-flex;
}

.button-primary:hover {
  background: radial-gradient(#00E5CE, #02EA84);
  text-decoration: underline;
}

.pill {
  color: #ffffff;
  @apply px-2 whitespace-nowrap inline-block rounded-full bg-violet-300;
}

.card__header {
  padding: 15px;
  @apply flex items-stretch bg-gray-100 rounded-t-lg;
}

.card__body {
  padding: 15px;
}

.card__footer {
  padding: 0 16px 16px 16px;
}

details summary {
  cursor: pointer;
}

#loading {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border: 5px solid rgba(238, 34, 56, 0.5);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-primary3);
    color: var(--color-primary2);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #292929;
  }

  .card__header {
    background-color: #4b4b4b;
    color: #ffffff;
  }

  .pill {
    color: #000000;
  }
}

.my-react-select-container .my-react-select__control {
  @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
}

.my-react-select-container .my-react-select__control--is-focused {
  @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
}

.my-react-select-container .my-react-select__menu {
  @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
}

.my-react-select-container .my-react-select__option {
  @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
}

.my-react-select-container .my-react-select__indicator-separator {
  @apply bg-neutral-400;
}

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
  @apply text-neutral-600 dark:text-neutral-200;
}
