h1, h2 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: var(--color-primary1);
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

.jumbo {
    background-color: var(--color-primary4);
}

.description svg {
    display: inline-block;
}